<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/simple.css">
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    
    {{ if .Content }}
    {{ .Content | safeHTML }}{{ end }}
    <ul>
      {{ range .Pages }}<li><a href="{{ .Path }}">{{ if not .Date.IsZero -}}
          {{ .Date.Format "2006-01-02" }} {{end}}{{ .Title }}</a></li>
      {{ end -}}
    </ul>

    <p>
    <a href="/contact">💬 Une question, une remarque, contactez-moi :)</a>
    </p><p>
    <a href="/">🏠 Retour à la page principale</a>
    </p>

    <p><i>Le contenu de cette page est disponible sous licence CC-BY-SA</i></p>
  </body>

</html>
