<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/simple.css">
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    {{- if not .Date.IsZero }}
    <p><i>Publié le {{ .Date.Format "02-01-2006" }}</i></p>{{end}}
    {{- if .Params.tags }}
    <p><i>🏷️ {{ .Params.tags }}</i></p>{{end}}

    {{ if .Content }}
    {{ .Content | safeHTML }}{{ end }}

    <p>
    <a href="/contact">💬 Une question, une remarque, contactez-moi :)</a>
    </p><p>
    <a href="/gemlog">📒 Retour au gemlog</a>
    </p><p>
    <a href="/">🏠 Retour à la page principale</a>
    </p>

    <p><i>Le contenu de cette page est disponible sous licence CC-BY-SA</i></p>
  </body>

</html>
